# Binaries
/bin/x86
/bin/x64
/tests/x86
/tests/x64
# 7-zip artifacts
*.tmp
*.7z
# Libraries and headers
/lib/x64
/lib/x86
/include
# Build script assets
/buildscript/assets
# Debug scripts output
/buildscript/debug/*.txt
# Dynamically generated Meson subprojects wraps
/buildscript/mesonsubprojects/*.build
# Dynamically generated Meson native/cross files
# /buildscript/mesonconffiles...
# Debug symbols
/debug/x64
/debug/x86
# Debug patches
/patches/test
