# Binaries and their backups
*.dll
# 7-zip artifacts
*.exe
*.tmp
*.7z
# Libraries and headers
/lib/
/include/
# Meson install prefix
/dist/x86/
/dist/x64/
# Build script assets
buildscript/assets/
# Debug scripts output backup
debug/llvm-config-old.txt
# Dynamically generated Meson subprojects wraps
/buildscript/mesonsubprojects/llvm-meson.build
/buildscript/mesonsubprojects/zlib_meson.build