# Binaries
/bin/x86
/bin/x64
# 7-zip artifacts
*.tmp
*.7z
# Libraries and headers
/lib/x64
/lib/x86
/include
/dist
# Build script assets
/buildscript/assets
# Debug scripts output backup
/debug/llvm-config-old.txt
# Dynamically generated Meson subprojects wraps
/buildscript/mesonsubprojects/*.build
# Dynamically generated Meson native/cross files
# /buildscript/mesonconffiles...
# Debug symbols
/debugsymbols
# Debug patches
/patches/test
